body {
    background: radial-gradient(#e5e5e5, #fff, #e5e5e5);
}

.app-card{
    width: 30rem;
    height: 38rem;
}

.card:hover{
    box-shadow:5px 10px 20px 1px rgba(0,0,0,0.253);
}

.app-card-body {
    padding: 1rem;
}

.card-text {
    font-size: 0.9rem;
}

.app-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 25%;
}

.btn {
    margin-left: 1rem;
    margin-top: 1rem;
}

